body {
  background-image: url('../img/bg.jpg');
  background-size: cover; /* Ensures the image covers the entire background */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

button{
  width: 100px;
  height: 50px;
  margin: 10px;
  background-color: rgb(0, 128, 0);
  border-radius: 10px;
  color: white;
}
button:hover {
  background-color: rgb(14, 202, 14);
  color: #fff;
}
#game-container {
  max-width: calc(100% - 20px);
  height: calc(100% - 20px);
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#dice-table-container{
  width: 30%;
}

#dice-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

#dice-table th, #dice-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

#dice-table th {
  background-color: #ad0909;
  color: white;
  width: 50%;
}

#dice-display {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.dice {
  width: 40px;
  height: 40px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  background-color: #e9ecef;
  border-radius: 5px;
  border: 2px solid #007bff;
}

#current-bid {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

#actions {
  margin-top: 20px;
}